* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
    background-image: url("https://images.pexels.com/photos/2040626/pexels-photo-2040626.jpeg?cs=srgb&dl=pexels-jaxson-bryden-1058716-2040626.jpg&fm=jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

/* For Nav style */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: #0f1f1e;
    color: white;
    padding: 12px 40px 12px 5px;
    display: flex;
    align-items: center;
    gap: 170px;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    width: 260px;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-btn,
.clear-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    background: #0b7a74;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.clear-btn {
    background: #005f73;
}

.search-btn:hover,
.clear-btn:hover {
    opacity: 0.8;
}

/* For Home page style */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: white;
}

.social-icons {
    position: absolute;
    left: 40px;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 24px;
    z-index: 2;
}

.social-icons i {
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    opacity: 0.7;
}
.Home {
    position: relative;
    z-index: 2;
    max-width: 550px;
}
.Home h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}
.Home p {
    font-size: 16px;
    width: 80%;
    margin-bottom: 30px;
}
.book-btn {
    padding: 12px 35px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    background-color: #0b7a74;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.book-btn:hover {
    background-color: #0c5652;
}

/* About Section */
.About{
    width: 100%;
    height: 100vh;
    position: relative;
    padding-left: 30px;
    padding-right: 40px;
    color: white;
}
.About-container{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 20px;
    z-index: 2;
}
.About-container h1{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
}
.about-text p{
    font-size: 1rem;
    line-height: 1.3;
}
.about-text{
     background: rgba(0, 0, 0, 0.3);
     padding: 15px 15px;     
}
.team-container{
    display: flex;
    padding: 40px 20px;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
.team-members{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.team-container h2 {
    font-size: 2.5rem;
    margin-bottom: 43px;
    font-weight: 1000;
    padding-left: 30px;
}
.team-member{
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    width: 245px;
    backdrop-filter: blur(6px);
    transition: 0.3s ease;
}
.team-member:hover {
    transform: translateY(-5px);
}
.member-photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.member-name {
    font-size: 1.4rem;
    font-weight: bold;
}

.member-role {
    padding: 12px 20px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #1e37a3;
    color: white;
    opacity: .8;
    transition: 0.3s;
}

.member-desc {
    font-size: 0.85rem;
    color: #eaeaea;
    margin-bottom: 8px;
} 

/* For Contact page Style */
.Contact{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    margin-left: 70px;
    margin-right: 30px;
}
.contact-title {
    z-index: 2;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 3px;
}
.contact-container {
    z-index: 2;
    width: 50%;
    max-width: 600px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    outline: none;
    border-radius: 6px;
    font-size: .9rem;
    background-color: transparent;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.contact-form textarea {
    height: 100px;
    resize: none;
}
.contact-container{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background: rgba(0, 150, 170, 0.8);
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.submit-btn:hover {
    background: rgb(8, 83, 93);
}
.deactive{
    display: none;
}